.center-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match-score-text {
    margin-bottom: 55px;
    color: #333;
}

.match-table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px;
    width: 490px;
    transform: translateX(-40px); /* сдвиг влево на 60px */

}

.match-table th, .match-table td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
    height: 40px;
    word-wrap: break-word;
    white-space: normal;
}

.win-form {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.match-table .tr-buttons td {
    border: none;
}

.tr-buttons button {
    width: 50%;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.first-button {
    background-color: cornflowerblue;
}

.second-button {
    background-color: indianred;
}

/* Определяем ширины столбцов вручную */
.match-table tr th:first-child,
.match-table tr td:first-child {
    width: 70px; /* первая колонка — служебная*/
}

.match-table tr th:first-child {
    height: 50px;
}
.match-table tr th:nth-child(2),
.match-table tr td:nth-child(2),
.match-table tr th:nth-child(3),
.match-table tr td:nth-child(3) {
    width: 210px; /* одинаковая ширина для 2 и 3 */
}

.match-table th:nth-child(2) {
    background-color: cornflowerblue;
}

.match-table th:nth-child(3){
     background-color: indianred;
}



